<% if(success.length){ %>
  <div style="margin-top: 50px;text-align: center;font-family: sans-serif;font-size: large;text-transform: uppercase;" class="alert alert-success alert-dismissible fade show" role="alert">
    <p><%= success %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<% }  %>

<% if(error.length){ %>
  <div style="margin-top: 50px;text-align: center;font-family: sans-serif;font-size: large;" class="alert alert-danger alert-dismissible fade show" role="alert">
    <p><%= error %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<% }  %>