<% layout('layout/boilerplate') -%>
<link rel="stylesheet" href="styles/home.css">
  <section class="contents">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://static.wixstatic.com/media/cb2329_6590ee85bf394f5d97f4978c587618bd~mv2.jpg/v1/fill/w_1899,h_635,al_c,q_85,usm_0.33_1.00_0.00,enc_auto/cb2329_6590ee85bf394f5d97f4978c587618bd~mv2.jpg"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color: aliceblue;">Know Your Carbon FootPrint Now</h5>
            <!-- <p>Some representative placeholder content for the first slide.</p> -->
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://images.unsplash.com/photo-1582377224944-2c2a17affa38?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="d-block w-100" alt="..." height="500px">
          <div class="carousel-caption d-none d-md-block ">
            <h5>Reduce Your CO2 Emissions Now.</h5>
            <!-- <p>Some representative placeholder content for the second slide.</p> -->
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br><br>
    <h1>CarbonLens</h1>
    <h2>Empower Your Sustainability Journey: Unlocking Carbon Zero</h2>
    <div class="title">


      <div class="card cardleft">
        <h5>
          At CarbonLens, we excel in precise carbon footprint calculation and
          analysis. Our advanced platform harnesses data to reveal profound
          insights, enabling strategic planning for sustainable practices.
        </h5>
      </div>
      <div class="card cardright">
        <h5>
          Dive into our comprehensive tracking and meticulous analytics to
          thoroughly understand your environmental impact. Our tool empowers
          informed decisions that drive efficiency and pave the way towards a
          greener future.
        </h5>
      </div>
      <div class="card cardleft">
        <h5>
          Specializing in empowering businesses, our platform unveils deep
          insights for strategic sustainability planning.
        </h5>
      </div>
      <div class="card cardright">
        <h5>
          Utilize our
          unparalleled precision to make informed decisions that steer you
          towards a more sustainable future.
        </h5>
      </div>
    </div>
    </body>

</section>
