<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarbonLens</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>

  <body>
    <header><%- include("../partials/navbar") %></header>
    <%- include("../partials/flash") %> <%- body -%>

    <footer>
      <div
        class="inner"
        style="background-color: #071111; width: 100%; height: 20rem"
      ></div>
      <div class="inner background"></div>
      <div id="footer" class="inner">
        <div class="footercard">
          <img
            class="footer-img"
            src="https://github.com/Om-dharra/coffee_site.github.io/blob/main/WhatsApp%20Image%202023-12-25%20at%2016.44.47_67604895.jpg?raw=true"
            alt="Carbon Lens"
          />
          <h3>Debug Dragons</h3>
        </div>
        <div class="footercard column">
          <h2>Carbon Lens</h2>
          <ul class="column">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="footercard column">
          <h2>Solutions</h2>
          <ul class="column">
            <li><a href="#">Carbon Footprint Calculator</a></li>
            <li><a href="#">How it Works ? </a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="footercard column">
          <h2>Follow</h2>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/piyushk1264/"
                ><img
                  class="linkedin"
                  src="https://www.iconpacks.net/icons/1/free-linkedin-icon-112-thumb.png"
                  alt=""
                />Piyush Kumar</a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/in/jainlakshit/"
                ><img
                  class="linkedin"
                  src="https://www.iconpacks.net/icons/1/free-linkedin-icon-112-thumb.png"
                  alt=""
                />Lakshit Jain</a
              >
            </li>

            <li>
              <a href="https://www.linkedin.com/in/om-dharra-b55422225/"
                ><img
                  class="linkedin"
                  src="https://www.iconpacks.net/icons/1/free-linkedin-icon-112-thumb.png"
                  alt=""
                />Om Dharra</a
              >
            </li>

            <li>
              <a href="https://www.linkedin.com/in/mohd-monis-2aa52a21a/"
                ><img
                  class="linkedin"
                  src="https://www.iconpacks.net/icons/1/free-linkedin-icon-112-thumb.png"
                  alt=""
                />Mohd. Monis</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
  </body>
</html>